

.data-table { margin-top: 30px; }
div.tooltip { position: absolute; padding: 5px; font: 12px sans-serif; background: lightgrey; border: 0px; border-radius: 8px; pointer-events: none; }

.format-options-btns { margin-bottom: 10px }




.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}




/* range-slider */
.range-slider { width: 200px; height: 10px; float: right; }
.range-slider output { float: left; width: 30px }
.rangeslider__fill { background: rgba(0,255,0,1); }
.rangeslider--horizontal { height: 5px; width: 100%; }
.rangeslider--horizontal .rangeslider__handle { top: -5px; }
.rangeslider__handle { width: 15px; height: 15px; }
.rangeslider__handle:after { width: 8px; height: 8px; }







/* make viz responsive */
.svg-container {
    display: inline-block;
    position: relative;
    width: 95%;
    padding-bottom: 50%; 
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
}