

/* GLOBAL */

body { font-family: 'Open Sans', sans-serif; }
textarea, pre { font: .9rem/1.1rem 'Anonymous Pro', monospace !important; color: #555; }
.round { border-radius: 4px; background: rgba(255,0,17,.25); padding: 3px 4px; margin: 5px 0 0 0 }
table { font-size: 90%; }
thead, th { text-align: center; font-weight: bold;}
td { text-align: center;}
td.num { color: #999 !important; }

/* FORMS/INTERFACE */

#input_text, #d3-network-format { width: 100%; }
.data-field { text-align: right; }
.format-options-btns { margin-bottom: 10px }

/* HEADINGS */

h6 { margin: 14px 0;}
h6 a:link , h6 a:active, h6 a:visited, h6 a:hover, h6 a:focus { text-decoration: none; }
h6 .caret { content: " "; width: 0; height: 0; display: inline-block; margin-left: 6px; vertical-align: middle;
    border-left: 4px solid rgba(0, 0, 0, 0); border-right: 4px solid rgba(0, 0, 0, 0); border-top: 4px solid; }
h6 .h6-record-display { font-size: 90%; color: #aaa;}

/* HIDE ON LOAD

#data-table { display: none; }
#word-frequency { display: none; }*/

/* D3 */

#graph { border: 1px solid #ddd; }
.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}
.link {
    stroke: #777;
    stroke-width: 2px;
}
div.tooltip { position: absolute; padding: 5px; border: 0px; border-radius: 8px; pointer-events: none;
    font: 12px 'Anonymous Pro', monospace; background: rgba(0,0,0,0.5); }
/* make viz responsive
.svg-container {
    display: inline-block;
    position: relative;
    width: 95%;
    padding-bottom: 50%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
}
*/
/* range-slider */

.range-slider-group { width: 300px; height: 80px; float: right; }
.range-slider { width: 300px; height: 10px; margin-bottom:12px; }
.rangeslider__fill { background: rgba(255,0,255,.3); }
.rangeslider--horizontal { height: 5px; width: 200px; display: inline-block;}
.rangeslider--horizontal .rangeslider__handle { top: -5px; }
.rangeslider__handle { width: 15px; height: 15px; }
.rangeslider__handle:after { width: 8px; height: 8px; }
.range-slider output {  display: inline-block; width: 90px; margin: 0px 0 0 5px }
