

.data-table { margin-top: 30px; }
div.tooltip { position: absolute; padding: 5px; font: 12px sans-serif; background: lightgrey; border: 0px; border-radius: 8px; pointer-events: none; }

.format-options-btns { margin-bottom: 10px }




.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}


.round { border-radius: 4px; background: rgba(255,0,17,.25); padding: 3px 4px; margin: 5px 0 0 5px }




/* range-slider */
.range-slider-group { width: 300px; height: 80px; float: right; }
.range-slider { width: 300px; height: 10px; margin-bottom:12px; }
.rangeslider__fill { background: rgba(255,0,255,.3); }
.rangeslider--horizontal { height: 5px; width: 200px; display: inline-block;}
.rangeslider--horizontal .rangeslider__handle { top: -5px; }
.rangeslider__handle { width: 15px; height: 15px; }
.rangeslider__handle:after { width: 8px; height: 8px; }
.range-slider output {  display: inline-block; width: 90px; margin: 0px 0 0 5px }







/* make viz responsive 
.svg-container {
    display: inline-block;
    position: relative;
    width: 95%;
    padding-bottom: 50%; 
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
}*/